<html lang="en">
    <head>
        <meta name="viewport" content=""initial-scale=1, width="device-width">
        <title>My Recipes</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        
    </head>

    <body>
        <div class="content">

            <h1><a href="/" style="text-decoration: none; color: inherit;">dishcovery</a></h1>
            <h2>Saved Recipes</h2>

            <div class="top-controls">
                <div class="form-group">
                    <!-- clear saved recipe database -->
                    <form action="/clear_saved_recipes" method="POST" style="margin-top: 20px;">
                        <button type="submit" class="clear-button">Clear All Recipes</button>
                    </form>
                    
                    <label for="sort">Sort:</label>
                    <select id="sort" name="sort">
                        <option value="default">Default</option>
                        <option value="name">Name</option>
                        <option value="cooking_time">Cooking time</option>
                        <option value="calories">Calories</option>
                    </select>
                </div>
            </div>

            <div class="card-container">
                {% if recipes %}
                    {% for recipe in recipes %}
                        <a href="/recipe/{{ recipe.recipe_id }}" class="card-link">
                            <div class="card">
                                <img src="{{ recipe.image }}" alt="Recipe image">
                                <h2>{{ recipe.name }}</h2>
                                <p><strong>Calories:</strong> {{ recipe.calories }}</p>
                                <p><strong>Carbohydrate:</strong> {{ recipe.carbohydrate }}</p>
                                <p><strong>Fat:</strong> {{ recipe.fat }}</p>
                                <p><strong>Protein:</strong> {{ recipe.protein }}</p>
                            </div>
                        </a>

                        <!-- <h2>{{ recipe.name }}</h2>
                        <img src="{{ recipe.image }}" alt="{{ recipe.name }}">
                        <p><strong>Instructions:</strong></p>
                        <p>
                            {% for step in recipe.instructions.split('.') %}
                                {% if step.strip() %}
                                    {{ loop.index }}. {{ step.strip() | safe }}<br>
                                {% endif %}
                            {% endfor %}
                        </p>
                        <p><strong>Calories:</strong> {{ recipe.calories }}</p>
                        <p><strong>Carbohydrate:</strong> {{ recipe.carbohydrate }}</p>
                        <p><strong>Fat:</strong> {{ recipe.fat }}</p>
                        <p><strong>Protein:</strong> {{ recipe.protein }}</p> -->
                    {% endfor %}
                {% else %}
                    <p>No saved recipes found</p>
                {% endif %}
            </div>
        </div>

            <!-- update/make /your-action-url -->
            <!-- <form action="/your-action-url" method="GET">
                <label for="filter">Filter:</label>
                <select id="filter" name="filter">
                    <option value="default1">Default 1</option>
                    <option value="default2">Default 2</option>
                    <option value="default3">Default 3</option>
                </select>
            
                <label for="sort">Sort:</label>
                <select id="sort" name="sort">
                    <option value="default">Default</option>
                    <option value="name">Name</option>
                    <option value="cooking_time">Cooking time</option>
                    <option value="nutrition">Nutrition</option>
                    <option value="date_saved">Date saved</option>
                </select>
            
                <button type="submit">Submit</button>
            </form>
        </div>   -->

        <footer>
            &copy; 2024 Dishcovery. Built with ♡ for food enthusiasts.
        </footer>

    </body>
</html>