<html lang="en">
    <head>
        <meta name="viewport" content=""initial-scale=1, width="device-width">
        <title>My Recipes</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        
    </head>

    <body>
        <div class="content">

            <h1><a href="/" style="text-decoration: none; color: inherit;">dishcovery</a></h1>
            <h2>Saved Recipes</h2>

            <form method="GET" action="{{ url_for('saved_recipes') }}">
                <div class="top-controls">
                    <div class="form-group">                 
                        <label for="sort">Sort:</label>
                        <select id="sort" name="sort" onchange="this.form.submit()">
                            <option value="default" {% if request.args.get('sort') == 'default' %}selected{% endif %}>Default</option>
                            <option value="name" {% if request.args.get('sort') == 'name' %}selected{% endif %}>Name</option>
                            <option value="calories" {% if request.args.get('sort') == 'calories' %}selected{% endif %}>Calories</option>
                            <option value="carbohydrate" {% if request.args.get('sort') == 'carbohydrate' %}selected{% endif %}>Carbohydrate</option>
                            <option value="fat" {% if request.args.get('sort') == 'fat' %}selected{% endif %}>Fat</option>
                            <option value="protein" {% if request.args.get('sort') == 'protein' %}selected{% endif %}>Protein</option>
                        </select>
                    </div>
                </div>
            </form>

            <!-- Recipes listed in card containers -->
            <div id="card-container" class="card-container">
                {% if recipes %}
                    {% for recipe in recipes %}
                    <a href="/recipe/{{ recipe.recipe_id }}?from_page=saved_recipes" class="card-link">
                            <div class="card">
                                <img src="{{ recipe.image }}" alt="Recipe image">
                                <h2>{{ recipe.name }}</h2>
                                <p><strong>Calories:</strong> {{ recipe.calories }} kcal</p>
                                <p><strong>Carbohydrate:</strong> {{ recipe.carbohydrate }} g</p>
                                <p><strong>Fat:</strong> {{ recipe.fat }} g</p>
                                <p><strong>Protein:</strong> {{ recipe.protein }} g</p>
                            </div>
                        </a>

                        <!-- <h2>{{ recipe.name }}</h2>
                        <img src="{{ recipe.image }}" alt="{{ recipe.name }}">
                        <p><strong>Instructions:</strong></p>
                        <p>
                            {% for step in recipe.instructions.split('.') %}
                                {% if step.strip() %}
                                    {{ loop.index }}. {{ step.strip() | safe }}<br>
                                {% endif %}
                            {% endfor %}
                        </p>
                        <p><strong>Calories:</strong> {{ recipe.calories }}</p>
                        <p><strong>Carbohydrate:</strong> {{ recipe.carbohydrate }}</p>
                        <p><strong>Fat:</strong> {{ recipe.fat }}</p>
                        <p><strong>Protein:</strong> {{ recipe.protein }}</p> -->
                    {% endfor %}
                {% else %}
                    <p>No saved recipes found</p>
                {% endif %}
            </div>
        </div>

        <footer>
            &copy; 2024 Dishcovery. Built with ♡ for food enthusiasts.
        </footer>
    </body>
</html>